.imgBanner{
    max-width:100%;
    border-radius: 5%;
    padding-bottom: 5%;
}

.usuarioLogin{
    display:grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr;
    justify-content:center;
    row-gap: 10px;
}

.divIniciar{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 50px;
}

.buttonPerfil{
    background-color: white;
    color: #dc143c;
    border-radius: 12%;
    width: 200px;
}

.divLogin{
    display: flex;
    justify-content: center;
}

.sectionLogin{
    border: 2px solid white;
    background-color: #dc143c;
    padding: 3%;
    width: 500px;
}

.aPerfil{
    font-size: 25px;
    text-decoration: none;
    color:white;
    background-color:#dc143c;
    border: 5px solid none;
    border-radius: 10%;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .usuarioLogin{
        grid-template-columns: 300px;
        justify-items: center;
    }
    
    
}
