.sectionContra{
display: flex;
flex-direction: column;
align-items: center;
row-gap: 50px;
}

.articleContra{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.buttonContra{
    background-color: white;
    color: crimson;
    font-size: large;
}