.gridRegistro {
    display: grid;
    grid-template-areas: "columna1 columna2"
                         "          botones";
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    border: 2px solid white;
    padding: 10px;
}

.item-1 {
    grid-area: "botones";
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.columna1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 10px;
    padding: 5px;
}

.columna2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    row-gap: 10px;
    column-gap: 10px;
    padding: 5px;
}

.botonRegistro {
    display: flex;
    justify-content:left;
    gap: 10%;
}

.buttonContra{
    background-color: white;
    color: crimson;
    font-size: large;
}

@media screen and (max-width: 710px) {
    .gridRegistro {
        display: grid;
        grid-template-areas: "columna1 columna2"
                             "          botones";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        border: 2px solid white;
        padding: 10px;
    }
    .item-1 {
        grid-area: "botones";
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .botonRegistro {
        display: flex;
        justify-content: center;
        gap: 10%;
    }
    
}